.App {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  
}

.app-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    transform: translateZ(0);
  }
