.hotspotContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
}

.noticeVideo,
.noticeVideoContainer,
.videoNoticeWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    object-fit: cover;
}

.newsInfo {
    width: 100%;
    justify-content: center;
    color: black;
    z-index: 2500;
}

.noticeImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 500;
}

/*GRID*/
.noticeGrid {
    width: 100vw;
    height: 100vh;
    padding: 10%;
}

/*HEADER */
.header {
    justify-content: left;
    z-index: 700;
}
.noticeTitle,
.noticeDescription {
    justify-self: left;
    z-index: 700;
    font-size: 1.5rem;
}

.badge {
    z-index: 2500;
    opacity: 40;
}

.badgeGreen {
    z-index: 2500;
    opacity: 40;
}

.noticeTitle {
    color: darkslategrey;
    font-family: "Courier New", Courier, monospace;
}

.noticeDescription {
    color: black;
    font-family: "Courier New", Courier, monospace;
}

/*CVBUTTON*/
.cvButton {
    z-index: 700;
    justify-self: center;
}
.about {
    z-index: 700;
    justify-self: center;
}
.linkedIn {
    z-index: 700;
    justify-self: center;
}
.gitHub {
    z-index: 700;
    justify-self: center;
}
.soundcloud {
    z-index: 700;
    justify-self: center;
}

.soundcloud,
.gitHub,
.linkedIn,
.cv,
.badgeGreen {
    filter: drop-shadow(5px 5px 2px #4a4a51);
}
