.ogruContainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/ogruRecords.png');
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    justify-content: center;
}

.magicLeafDiv {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 30%;
    align-items: center;
    height: 50%;

}

.magicLeafBack {
    color: antiquewhite;
    font-family: allRoundGothic;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    z-index: 3000;
    cursor: pointer;
    pointer-events: auto !important;
    background-image: url('../../assets/leaf.png');
    background-position: rotate(90deg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-10deg);
    border: transparent;
    overflow: visible;

}

#magicLeafText {
    
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 5rem;
    margin-bottom: 6rem;
    font-size: 1.5rem;
    transform: rotate(-40deg);
    color: antiquewhite;
    width: 50%;
}

.backdrop {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 33px;
    width: 70%;
    min-height: auto;
    overflow: scroll;
    background-color: rgba(234, 229, 222, 0.805);
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.ogruTitle,
.topicTitle {
    font-family: 'allRoundGothic';
    color: rgba(104, 62, 62, 0.8);
    font-size: 3.5rem;
}

.ogruText {
    font-family: 'courierPrime';
    color: rgb(54, 34, 34);
    font-size: 1.5em;
    text-align: center;
}

.mainText {
    text-align: justify;
}

.cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.ogruOptionCard {
    width: 200px;
    height: 200px;
    padding: 5px;
    margin-top: 20px;
    opacity: 80%;
    text-align: center;
    text-justify: auto;
    cursor: pointer;
    border: none;
}

.ogruCardContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.optionTitle {
    font-family: 'allRoundGothic';
    color: rgb(19, 10, 10);

}

.optionText {
    font-family: 'allRoundGothic';
    color: rgb(19, 10, 10);

}

.greetings {
    margin-bottom: 10%;
}


.topicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.topicTitle {
    text-align: center;
    width: 100%;
}

.topicText {
    text-align: justify;
}

/* media queries */

@media (max-width: 900px) {
    .ogruOptionCard {
        width: 150px;
        height: 150px;
        align-self: center;
    }
}

@media (max-width: 700px) {
    .ogruCardContainer {
        width: 100%;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .ogruTitle {
        font-size: 2em;
    }

    .ogruText {
        font-size: 1em;
        text-align: center;
    }
    #magicLeafText {
    
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 5rem;
        margin-bottom: 11rem;
        font-size: 1.4rem;
        transform: rotate(-40deg);
        color: rgba(24, 239, 67, 0.256);
        width: 50%;
    }

}

.page {
    display: flex;
}