.sitesContainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
}

.sitesContainer::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.page {
    display: flex;
    min-height: 100svh;
    overflow-y: auto;
}

