.sitesContainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/djajtxjpr/image/upload/v1769088588/SongbirdSites_bybkpr.png");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    justify-content: center;
}
