.designContainer {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    justify-content: center;
}

.designContainer::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
