.backToTopDiv {
    pointer-events: fill;
    cursor: pointer;
    position: fixed;
    float: right;
    z-index: 2000;
    margin-top: 85vh;
    margin-left: 85vw;

}

.topIcon {
    color: rgb(9, 13, 4);
    opacity: 90%;
}