.backToTopDiv {
    pointer-events: fill;
    cursor: pointer;
    position: fixed;
    float: right;
    z-index: 500;
    margin-top: 80vh;
    margin-left: 70vw;
}

.topIcon {
    color: rgba(38, 33, 27, 0.783);
    opacity: 80%;
}
