.containerGame {
    width: 100vw;
    height: 100vh;
    background-color: rgba(104, 62, 62, 0.8);
    overflow: hidden;
    overscroll-behavior: none;
    margin: 0;
}

.boxStart {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: rgba(104, 62, 62, 0.8);
}

.ghost {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 0;
    left: 20;
    background-color: rgb(83, 128, 0);
    opacity: 50%;
    border-radius: 50%;
    z-index: 3;
}
.bee {
    position: absolute;
    margin-top: -20%;
}

.eyes {
    position: absolute;
    display: inline-block;
    height: 0%;
    width: 0%;
    border-radius: 50%;
    bottom: 45%;
    background-color: white;
}

.eyeLeft {
    left: 10%;
}
.eyeRight {
    right: 10%;
}

.eyes:after {
    position: absolute;
    bottom: 45%;
    content: "";
    background-color: black;
    height: 50%;
    width: 50%;
    left: 20%;
    top: 20%;
    border-radius: 50%;
}

/*new pacman*/

.pacman {
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: none !important;
    border-radius: 50%;
    overflow: visible;
}

.snail {
    position: absolute;
    left: -20%;
    top: -30%;
}

.bee {
    position: absolute;
    left: -30%;
    top: -20%;
}

.dot {
    position: absolute;
    left: 35%;
    top: 35%;
    width: 25%;
    height: 25%;
    background-color: bisque;
    border-radius: 50%;
}

.superDot {
    position: absolute;
    left: 25;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("./assets/redLeaf.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -10%;
    z-index: 5;
    overflow: visible;
}

.leaf {
    position: absolute;
    z-index: 5;
    overflow: visible;
    background-image: url("./assets/leaf.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wall {
    background-color: rgba(104, 62, 62, 0.8);
    width: 100%;
    height: 100%;
}

.hideout {
    background-color: rgba(104, 62, 62, 0.8);
    width: 100%;
    height: 100%;
}

.gridGame {
    margin: auto;
    width: 100%;
    justify-content: center;
    display: grid;
    cursor: grab;
    background-color: rgb(155, 219, 53);
    overflow: hidden;
}

.box {
    font-size: 3rem;
    text-align: center;
    position: relative;
}

.scoreBoard {
    display: block;
    background-color: rgb(155, 219, 53);
    text-align: center;
    font-size: 1.1em;
    color: rgba(104, 62, 62, 0.8);
    padding: 1%;
    font-family: courier;
    margin: 0.5;
}

.lives {
    margin-bottom: 0.5%;
}
.title {
    font-size: 1.8em;
    font-family: courier;
    color: rgba(104, 62, 62, 0.8);
}

.btn {
    width: 25%;
    padding: 0.5%;
    font-family: courier;
    color: rgba(104, 62, 62, 0.8);
    background-color: bisque;
}

.btnDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

